.panel{
    position: absolute;
    left: 30px;
    bottom: 15%;


    width: 408.2px;
    height: 61.1px;

    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.button{
  width: 113.1px;
  height: 27.3px;
  border-radius: 20px;
  background-color: #478cc8!important;
  background-color: var(--blue);
  cursor: pointer;
}

.content{
      float: left;
      margin-left: 10px;
    margin-top: 10px;
    width: 191.75px;
    height: 39px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.contentTitle{
    font-weight: 700;
}

.widget_status_1{
  margin-right: 10px;
  margin-top: 10px;
}

.widget_status_2 {
  margin-right: 10px;
  margin-top: 10px;
  width: 124.15px;
  height: 37.7px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #8c969d;
}

.widget_status_can_see{
  width:  124.15px;
  height: 61.1px;
  border-radius: 1px;
  background-color:rgba(251, 193, 50, 0.5) !important;
}

.widget_status_can_see .btn{
  margin-left: 5px;
  width: 78px;
  height: 18.2px;
  border-radius: 20px;
  background-color: #478cc8 !important;
}

.widget_status_can_see .title_widget{
  float: left;
    margin-top: 6px;
    margin-left: 6px;
  width: 79.95px;
  height: 20.8px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.widget_status_can_see .icon{
      float: left;
    margin-left: 5px;
    margin-top: 6px;
  width: 19.5px; 
  height: 18.3px; 
  object-fit: contain;
  font-family: MaterialIcons;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.widget_status_can_see .btn .title{
  cursor: pointer;
  width: 53.3px; 
  height: 8.4px; 
  font-family: Lato;
  font-size: 5.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff !important;
}

.widget_status_end_left_part{
  float: left;
  width: 34.45px; 
  height: 41.2px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.widget_status_end_right_part{
  float: left;
  width: 107,25px;
  height: 39px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.\- .text-style-1 {
  font-weight: bold;
}

.textButton{
  width: 113,1px;
  height: 12.35px;
  font-family: Lato;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff!important;
}

.right{
  float: right;
}

.costTitle{
        font-size: 8px;
    margin-left: 23px;
    margin-top: 4px;
     width: 70px;
  height: 13px;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #8c969d;
}

.icon{
    /*background: url("../../img/zeplinn_page_photo_control/svg/ic-car.svg");*/
}

.ic_car {
    float: left;
         margin-left: 10px;
    margin-top: 10px;
  width: 20.8px; 
  height: 17.57px; 
  object-fit: contain;
  background-color: #e6ba4d !important;
}

