.panel{
    position: absolute;
    left: 30px;
    bottom: 25%;


    width: 608.2px;
    height: 91.1px;

    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.button{
  width: 133.1px;
    height: 34.3px;
    border-radius: 20px;
    background-color: #478cc8 !important;
    cursor: pointer;
}

.content{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 341.75px;
  height: 79px;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.contentTitle{
    font-weight: 700;
}

.widget_status_1{
    margin-right: 10px;
    margin-top: 20px;
    width: 154.15px;
    height: 37.7px;
}

.widget_status_2 {
  margin-top: 10px;
  width: 184.15px;
  height: 91.1px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #8c969d;
}

.widget_status_can_see{
  width: 184.15px;
  height: 91.1px;
  border-radius: 1px;
  background-color:rgba(251, 193, 50, 0.5) !important;
}

.widget_status_can_see .btn{
    margin-top: 15px;
    margin-left: 25px;
    width: 138px;
    height: 34.2px;
    border-radius: 20px;
    background-color: #478cc8 !important;
}

.widget_status_can_see .title_widget{
    float: left;
    margin-top: 6px;
    margin-left: 14px;
    width: 119.95px;
    height: 20.8px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(6, 21, 35, 0.8);
}

.widget_status_can_see .icon{
      float: left;
    margin-left: 5px;
    margin-top: 6px;
  width: 19.5px; 
  height: 18.3px; 
  object-fit: contain;
  font-family: MaterialIcons;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.widget_status_can_see .btn .title{

    margin: 0;
    padding: 0;
    margin-right: 45px;

  cursor: pointer;
  width: 53.3px; 
  height: 8.4px; 
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff !important;
}

.widget_status_end_left_part{
     float: left;
    width: 90px;
    margin-top: 15px;
    height: 91.2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(6, 21, 35, 0.8);
}

.widget_status_end_right_part{
  margin-top: 15px;
  float: left;
  width: 107.25px;
  height: 39px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(6, 21, 35, 0.8);
}

.\- .text-style-1 {
  font-weight: bold;
}

.textButton{
     height: 12.35px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff !important;
}

.right{
  float: right;
}

.costTitle{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 4px;
    width: 110px;
    height: 14px;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #8c969d;
}

.icon{
    /*background: url("../../img/zeplinn_page_photo_control/svg/ic-car.svg");*/
}

.ic_car {
    float: left;
         margin-left: 10px;
    margin-top: 10px;
  width: 30.8px; 
  height: 27.57px; 
  object-fit: contain;
  background-color: #e6ba4d !important;
}

